<h1 class="text-center">Camera PWA</h1>

<div>
    <div id="liveVideo">
        <video id="webcam" autoplay></video>
    </div>

    <img class="save-image">

    <p id="information">Loading model. Please wait before starting camera.</p>
    <div class="video-controls">
        <button title="Play">Start camera</button>
        <button title="Pause">Pause</button>
        <button title="Save" id="save-image">Save Image</button>
    </div>

    <p id="errorMessage"></p>

</div>

<script src="./scripts/tensorflow.js" type="text/javascript"></script>
<script src="./scripts/coco-ssd.js"></script>
<script type="module" src="./scripts/camera.js"></script>