<h1 class="text-center">Camera PWA</h1>

<div>
    <div id="liveVideo">
        <video id="webcam" autoplay></video>
        <canvas></canvas>
    </div>

    <img class="save-image">

    <div class="video-controls">
        <button title="Play">Start facial recognition</button>
        <button title="Pause">Pause</button>
        <button title="Save">Save Image</button>
        <button title="Flashlight">Turn on Flashlight</button>
    </div>

    <p id="errorMessage"></p>

</div>