<h1 class="text-center">Camera PWA</h1>

<div>
    <div id="liveVideo">
        <video id="webcam" autoplay></video>
    </div>

    <img class="save-image">

    <p id="information">Loading model. Please wait before starting camera.</p>
    <div class="video-controls">
        <button title="Play">Start camera</button>
        <button title="Pause">Pause</button>
        <button title="Save">Save Image</button>
    </div>

    <p id="errorMessage"></p>

</div>