<h1 class="text-center">Camera PWA</h1>

<div>
    <div id="liveView">
        <video id="webcam" autoplay width="640" height="480"></video>
        <canvas></canvas>
    </div>

    <div class="video-controls">
        <button title="Play">Play</button>
        <button title="Pause">Pause</button>
        <button title="Save">Save Image</button>
    </div>

</div>