<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Camera App</title>
    <link rel="stylesheet" href="./styles/styles.css">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="theme-color" content="#222831">
    <link rel='manifest' href='./manifest.json'>
    <link rel='apple-touch-icon' href='./images/apple-touch.png'>


    <script>
        // Register service worker
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
        }
    </script>
</head>

<body>

    {{{body}}}

</body>

</html>